<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>
  <ul th:fragment="unitFragment (units)" style="display: block">
      <th:block th:each="unit : ${units}">
          <li th:class="${(unit.descendants != null && unit.descendants.size() > 0) ? 'collapsible' : 'simple'}">
              <a th:href="@{/activities(unit-id=${unit.id})}" th:text="${unit.name}"></a>
          </li>
          <div th:if="${unit.descendants != null && !unit.descendants.isEmpty()}"
               th:replace="fragments :: unitFragment(${unit.descendants})">
          </div>
      </th:block>
  </ul>
</body>
</html>