<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Скидання паролю</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/unit.css}">
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<form th:action="@{/password-reset/update-password}" method="post">
  <label for="password">Новий пароль:
    <input type="password" name="password" id="password">
  </label><br>
  <input type="hidden" name="token" id="token" th:value="${token}">
  <button type="submit">Змінити пароль</button>
</form>
</body>
</html>
