<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Скидання паролю</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/unit.css}">
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<form th:action="@{/password-reset}" method="post">
  <div>Відправка листа може зайняти деякий час, будь ласка, дочекайтеся відповідного повідомлення.</div>
  <label for="email">Електронна пошта:
    <input type="text" name="email" id="email">
  </label><br>
  <button type="submit">Отримати посилання для відновлення</button>
</form>
</body>
</html>
